{% extends 'base.html'%}

<!-- content block -->
{% block content %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">



<div class="container">
    <h3> The different news sources</h3>
    {% for source in sources %}
    <p>Find different articles in this source,click  <a  href="/articles/{{source.id}}">Here</a></p>
    <p>{{source.name}}</p><br>
    <p>{{ source.description }}- <a class="btn btn-primary btn-sm" href="{{source.url}}">read more</a></p>
    <p><em>{{ source.category}}</em></p>
    <p>{{ source.country}}</p>
    {% endfor %}
</div>
{% endblock %}