{% extends 'base.html'%}


<!-- content block -->
{% block content %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">



<div class="container bg-success">
    <h3 class="text-center text-danger header"> Welcome to online news website -news sources and articles links</h3>
   <div class="row">
       <div class="col-md-12">
        {% for source in sources %}
        <p class="text-primary" >{{source.name}}</p><br>
        <p>{{ source.description }}- <a class="btn btn-primary btn-sm" href="{{source.url}}">read more</a></p>
        <p><em>{{ source.category}}</em></p>
        <p>{{ source.country}}</p>
        <p>To find different articles in this source,click  <a class="btn btn-danger btn-sm" href="/articles/{{source.id}}">Here</a></p>
        {% endfor %}
       </div>
   </div>
</div>
{% endblock %}